# Imports

In [1]:
import pandas as pd
import numpy as np

In [2]:
test_relative_path = 'datasets/test.csv'
df = pd.read_csv(test_relative_path)

# Data Cleanup

### Column Inspection Functions

In [3]:
def columns_info(df):
    columns_df = pd.DataFrame({'nulls': [df[col].isna().sum() for col in df.keys()], 
                         'dtype': [df[col].dtypes for col in df.keys()], 
                         'nunique_values': [df[col].nunique() for col in df.keys()], 
                         'unique_values': [df[col].unique() for col in df.keys()], 
                         'value_counts': [df[col].value_counts() for col in df.keys()]}, 
                         index=[col for col in df.keys()])
    return columns_df

# Function to Inspect Column
def col_info(col):
    return pd.DataFrame({'nulls': df[col].isna().sum(), 
                         'dtype': df[col].dtype,
                         'nunique': df[col].nunique(), 
                         'unique_values': [df[col].unique()], 
                         'value_counts': [df[col].value_counts()]}, 
                         index=[col])

**Renaming columns to Lowercase Snake Space**

In [4]:
df.columns = [col.lower().replace(' ','_') for col in df.columns]

In [5]:
df.rename(columns={'year_remod/add': 'year_remod_add'}, inplace=True)

**Dropping Unused Columns**

In [6]:
df = df[['pid', 'gr_liv_area', 'total_bsmt_sf', 'garage_area', 
         'lot_config', 'functional', 'year_built', 
         'year_remod_add', 'ms_subclass', 'garage_cars', 'fireplaces', 
         'full_bath', 'half_bath', 'kitchen_abvgr', 'bsmt_full_bath', 
         'kitchen_qual', 'paved_drive', 'electrical', 'neighborhood', 
         'bsmtfin_type_1', 'central_air', 'bedroom_abvgr', 
         'totrms_abvgrd', 'garage_cond', 
         'condition_1', 'land_contour'
        ]]

**Imputing Null Values**

In [9]:
columns_info(df)

,nulls,dtype,nunique_values,unique_values,value_counts
pid,0,int64,878,"[902301120, 905108090, 528218130, 902207150, 5...",902301120 1 534102025 1 905225020 1 9...
gr_liv_area,0,int64,621,"[1928, 1967, 1496, 968, 1394, 1092, 1093, 1268...",864 16 1092 7 848 6 816 5 12...
total_bsmt_sf,0,int64,526,"[1020, 1967, 654, 968, 1394, 546, 869, 1268, 8...",0 25 864 23 768 10 672 9 78...
garage_area,0,int64,357,"[440, 580, 426, 480, 514, 286, 308, 252, 588, ...",0 44 576 28 440 26 240 24 48...
lot_config,0,object,5,"[Inside, CulDSac, Corner, FR2, FR3]",Inside 636 Corner 163 CulDSac 49 F...
functional,0,object,6,"[Typ, Min2, Min1, Mod, Maj1, Maj2]",Typ 812 Min2 28 Min1 23 Maj1 ...
year_built,0,int64,106,"[1910, 1977, 2006, 1923, 1963, 1972, 1958, 200...",2005 40 2006 39 2007 30 2004 27 20...
year_remod_add,0,int64,61,"[1950, 1977, 2006, 1963, 1972, 1989, 2004, 199...",1950 99 2006 63 2005 41 2007 41 20...
ms_subclass,0,int64,15,"[190, 90, 60, 30, 20, 160, 120, 70, 80, 50, 85...",20 309 60 180 50 89 120 60 16...
garage_cars,0,int64,5,"[1, 2, 4, 0, 3]",2 467 1 254 3 110 0 44 4 3 N...
fireplaces,0,int64,4,"[0, 1, 2, 3]",0 422 1 375 2 75 3 6 Name: fire...
full_bath,0,int64,5,"[2, 1, 4, 3, 0]",2 436 1 418 3 18 0 4 4 2 N...
half_bath,0,int64,3,"[0, 1, 2]","0 535 1 336 2 7 Name: half_bath, dt..."
kitchen_abvgr,0,int64,4,"[2, 1, 0, 3]",1 835 2 41 0 1 3 1 Name: kitc...
bsmt_full_bath,0,int64,3,"[0, 1, 2]",0 507 1 356 2 15 Name: bsmt_full_bat...
kitchen_qual,0,object,5,"[Fa, TA, Gd, Ex, Po]",TA 447 Gd 354 Ex 53 Fa 23 Po ...
paved_drive,0,object,3,"[Y, N, P]","Y 790 N 65 P 23 Name: paved_drive, ..."
electrical,1,object,4,"[FuseP, SBrkr, FuseA, FuseF, nan]",SBrkr 813 FuseA 48 FuseF 15 FuseP ...
neighborhood,0,object,26,"[OldTown, Sawyer, Gilbert, NAmes, MeadowV, Col...",NAmes 133 CollgCr 87 OldTown 76 S...
bsmtfin_type_1,25,object,6,"[Unf, GLQ, BLQ, Rec, ALQ, nan, LwQ]",Unf 248 GLQ 243 ALQ 136 Rec 105 BL...
central_air,0,object,2,"[N, Y]","Y 823 N 55 Name: central_air, dtype: int64"
bedroom_abvgr,0,int64,7,"[4, 6, 3, 2, 1, 5, 0]",3 488 2 199 4 135 1 37 6 9 5...
totrms_abvgrd,0,int64,10,"[9, 10, 7, 5, 6, 3, 8, 4, 11, 12]",6 247 5 179 7 174 8 119 4 ...
garage_cond,45,object,5,"[Po, TA, nan, Fa, Gd, Ex]",TA 796 Fa 27 Po 6 Gd 3 Ex ...
condition_1,0,object,9,"[Norm, Feedr, Artery, PosA, RRAn, RRNn, RRAe, ...",Norm 755 Feedr 55 Artery 22 RRAn...
land_contour,0,object,4,"[Lvl, Bnk, Low, HLS]",Lvl 790 Bnk 36 HLS 35 Low 17 Na...

## Addressing Missing Values

**Electrical**
- only one missing, can I drop the row or should I impute
- for now, imputed with most common type

In [30]:
# df[df.electrical.isna()]
# df.electrical.mode()
df.electrical.fillna('SBrkr', inplace=True)

**Basement Finish Type 1**
- NA is no basement

In [25]:
df.bsmtfin_type_1.fillna('NoBas', inplace=True)

**Garage Condition**
- na is no garage

In [24]:
df.garage_cond.fillna('NoGar', inplace=True)

## Addressing Outliers

**Garage Cars**
- I'm converting 3 rows with 4 cars to 3 cars in order to match dummies created in train set.

In [54]:
df['garage_cars'] = df['garage_cars'].replace(4, 3)

**Kitchen Above Ground**
- converting 1 house with 3 kitchens to 2 kitchens and 1 house with 0 kitchens to 1 kitchen

In [77]:
df['kitchen_abvgr'] = df['kitchen_abvgr'].replace(3, 2)

In [78]:
df['kitchen_abvgr'] = df['kitchen_abvgr'].replace(0, 1)

## Creating Dummies

**Functional**

- Reducing category groups to 3: func_poor, func_mod, func_typ

In [44]:
df['functional2'] = ['func_poor' if 'Sal' in func else
                     'func_poor' if 'Sev' in func else
                     'func_poor' if 'Maj2' in func else  
                     'func_mod' if 'Ma1' in func else
                     'func_mod' if 'Mod' in func else
                     'func_mod' if 'Min2' in func else
                     'func_mod' if 'Min1' in func else 
                     'func_typ' for func in df.functional]

- Creating dummies for the new categories and joining them to the dataframe.

In [45]:
df = df.join(pd.get_dummies(df['functional2']))

**Lot Configuration**

- Reducing category groups to 2: 'lot_config_col_fr3', 'lot_config_other'

In [48]:
df['lot_config_2'] = ['lot_config_col_fr3' if 'FR3' in func else
                      'lot_config_col_fr3' if 'CulDSac' in func else
                      'lot_config_other' for func in df.lot_config]

- Creating dummies for the new categories and joining them to the dataframe.

In [49]:
df = df.join(pd.get_dummies(df['lot_config_2']))

**MS SubClass**

- creating ```ms_subclass_bins``` column

In [40]:
df['ms_subclass_bins'] = [1 if x == 3 or x == 190 or x == 180 or x == 45 or x == 40 
                          else 2 if x == 50 or x == 160 or x == 90 or x == 150
                          else 3 if x == 70 or x == 80 or x == 85 or x == 75
                          else 4 if x == 20
                          else 5 
                          for x in df.ms_subclass]

- creating dummies for ```ms_subclass_bins```

In [41]:
cols = pd.get_dummies(df.ms_subclass_bins, prefix='ms_subclass', drop_first=True).columns
trial = pd.get_dummies(df.ms_subclass_bins, prefix='ms_subclass', drop_first=True)
df = df.join(trial)

**Garage Cars**
- 'garage_cars_2', 'garage_cars_3'

- Creating dummies for ```garage_cars```, joining to df, and dropping first (0 cars)

In [60]:
df = df.join(pd.get_dummies(df.garage_cars, prefix='garage_cars', drop_first=True))

**Fireplaces**
- 'fire_has'

- Reducing category groups 'fire_has' and fire_hasnt'

In [64]:
df['fireplace_has'] = ['fire_has' if num > 0 else 'fire_hasnt' for num in df.fireplaces]

- Creating dummies for the new categories and joining them to the dataframe.

In [66]:
df = df.join(pd.get_dummies(df['fireplace_has']))

**Full Bath**
- 'full_bath_2', 'full_bath_3'

- Creating a ```full_bath_2``` column to group 0-1 baths and then make dummies for them.

In [67]:
df['full_baths_2'] = ['0-1' if num <= 1 else str(num) for num in df.full_bath]

- Creating dummies for ```full_baths_2```, joining to df, and adding full_bath_2 and full_bath_3 to our model

In [68]:
df = df.join(pd.get_dummies(df.full_baths_2, prefix='full_bath'))

**Half Bath**
- 'half_bath_1'

- Creating dummies for ```half_bath``` and dropping both 0 and 2 in order to compare houses with 1 half bathroom to houses with more or less than 1 half bathroom.

In [69]:
df = df.join(pd.get_dummies(df.half_bath, prefix='half_bath'))

**Kitchen Above Ground**
- 'kitchen_abvgr_2'

In [80]:
df = df.join(pd.get_dummies(df.kitchen_abvgr, prefix='kitchen_abvgr'))

**Basement Full Bath**
- 'bsmt_full_bath_1.0', 'bsmt_full_bath_2.0',

In [114]:
df.bsmt_full_bath = [float(num) for num in df.bsmt_full_bath]

In [116]:
df = df.join(pd.get_dummies(df.bsmt_full_bath, prefix='bsmt_full_bath'))

**Kitchen Quality**
-  'kitchen_qual_Ex', 'kitchen_qual_Fa', 'kitchen_qual_Gd',

In [82]:
df = df.join(pd.get_dummies(df.kitchen_qual, prefix='kitchen_qual'))

**Paved Drive**
-  'paved_drive_P', 'paved_drive_N',

In [83]:
df = df.join(pd.get_dummies(df.paved_drive, prefix='paved_drive'))

**Electrical**
-  'electrical_A_F', 'electrical_P_Mix',

In [86]:
df['electrical2'] = ['A_F' if fuse == 'FuseA' or fuse == 'FuseB' 
                     else 'P_Mix' if fuse == 'FuseP' or fuse == 'Mix' 
                     else 'SBrkr'
                     for fuse in df.electrical]

In [87]:
df = df.join(pd.get_dummies(df.electrical2, prefix='electrical'))

**Neighborhood**
-  'neighborhood_bin_2', 'neighborhood_bin_3', 'neighborhood_bin_4', 'neighborhood_bin_5',

In [93]:
df['neighborhood_bins'] = [1 if x == 'OldTown' or 
                                x == 'Edwards' or 
                                x == 'Sawyer' or 
                                x == 'BrkSide' or 
                                x == 'IDOTRR' or 
                                x == 'SWISU' or 
                                x == 'MeadowV' or 
                                x == 'BrDale' or 
                                x == 'NPkVill' or 
                                x == 'Blueste'
                           else 2 if x == 'NAmes' or 
                                     x == 'SawyerW' or 
                                     x == 'Mitchel' or 
                                     x == 'Greens'
                           else 3 if x == 'CollgCr' or 
                                     x == 'Somerst' or 
                                     x == 'Gilbert' or 
                                     x == 'NWAmes' or 
                                     x == 'Crawfor' or 
                                     x == 'ClearCr' or 
                                     x == 'Blmngtn' 
                           else 4 if x == 'Timber' or 
                                     x == 'Veenker'
                           else 5
                           for x in df.neighborhood
                          ]

In [94]:
df = df.join(pd.get_dummies(df.neighborhood_bins, prefix='neighborhood_bin'))

**Basement Type 1**
-  'bsmt_GLQ', 'bsmt_YesBas',

In [96]:
df['bsmt_types'] = ['GLQ' if x == 'GLQ' 
                     else 'NoBas' if x == 'NoBas'
                     else 'YesBas'
                     for x in df.bsmtfin_type_1]

In [97]:
df = df.join(pd.get_dummies(df.bsmt_types, prefix='bsmt'))

**Central Air**
- 'central_air_N'

In [98]:
df = df.join(pd.get_dummies(df.central_air, prefix='central_air'))

**Extra Rooms**
-  'extra_rooms_3', 'extra_rooms_4', 'extra_rooms_5-6', 'extra_rooms_7-8',

In [99]:
df['extra_rooms'] = [num - num2 for num, num2 in zip(df.totrms_abvgrd, df.bedroom_abvgr)]

In [100]:
df['extra_rooms_bins'] = ['1-2' if x == 1 or x == 2
                         else '5-6' if x == 5 or x == 6
                         else '7-8' if x == 7 or x == 8
                         else str(x)
                         for x in df.extra_rooms]

In [101]:
df = df.join(pd.get_dummies(df.extra_rooms_bins, prefix='extra_rooms'))

**Garage Condition**
-  'garage_cond_Gd_Ta'

In [102]:
df['garage_cond_bins'] = ['Gd_Ta' if x == 'Gd' or x == 'TA'
                         else 'Po_NoGar_Fa_Ex'
                         for x in df.garage_cond]

In [103]:
df = df.join(pd.get_dummies(df.garage_cond_bins, prefix='garage_cond'))

**Condition 1**
-  'condition_Feedr_RRAe_RRNe', 'condition_Norm_RRAn', 'condition_PosA_PosN',

In [104]:
df['condition_bins'] = ['Artery' if x == 'Artery' 
                         else 'Feedr_RRAe_RRNe' if x == 'Feedr' or x == 'RRAe' or x == 'RRNe'
                         else 'Norm_RRAn' if x == 'Norm' or x == 'RRAn'
                         else 'RRAn' if x == 'RRAn'
                         else 'PosA_PosN'
                         for x in df.condition_1]

In [105]:
df = df.join(pd.get_dummies(df.condition_bins, prefix='condition'))

**Land Contour**
-  'land_contour_Bnk', 'land_contour_HLS', 'land_contour_Lev_Low'

In [106]:
df['land_contour_bins'] = ['Lev_Low' if x == 'Lev' or x == "Low"
                             else x 
                             for x in df.land_contour]

In [107]:
df = df.join(pd.get_dummies(df.land_contour_bins, prefix='land_contour'))

---
---

In [133]:
for i in df_test.columns:
    print(i)

pid
gr_liv_area
total_bsmt_sf
garage_area
lot_config_col_fr3
func_poor
func_mod
year_built
year_remod_add
ms_subclass_2
ms_subclass_4
ms_subclass_5
garage_cars_2
garage_cars_3
fire_has
full_bath_2
full_bath_3
half_bath_1
kitchen_abvgr_2
bsmt_full_bath_1.0
bsmt_full_bath_2.0
kitchen_qual_Ex
kitchen_qual_Fa
kitchen_qual_Gd
paved_drive_P
paved_drive_N
electrical_A_F
electrical_P_Mix
neighborhood_bin_2
neighborhood_bin_3
neighborhood_bin_4
neighborhood_bin_5
bsmt_GLQ
bsmt_YesBas
central_air_N
extra_rooms_3
extra_rooms_4
extra_rooms_5-6
extra_rooms_7-8
garage_cond_Gd_Ta
condition_Feedr_RRAe_RRNe
condition_Norm_RRAn
condition_PosA_PosN
land_contour_Bnk
land_contour_HLS
land_contour_Lev_Low

In [129]:
df_test = df[['pid',
 'gr_liv_area',
 'total_bsmt_sf',
 'garage_area',
 'lot_config_col_fr3',
 'func_poor',
 'func_mod',
 'year_built',
 'year_remod_add',
 'ms_subclass_2',
 'ms_subclass_4',
 'ms_subclass_5',
 'garage_cars_2',
 'garage_cars_3',
 'fire_has',
 'full_bath_2',
 'full_bath_3',
 'half_bath_1',
 'kitchen_abvgr_2',
 'bsmt_full_bath_1.0',
 'bsmt_full_bath_2.0',
 'kitchen_qual_Ex',
 'kitchen_qual_Fa',
 'kitchen_qual_Gd',
 'paved_drive_P',
 'paved_drive_N',
 'electrical_A_F',
 'electrical_P_Mix',
 'neighborhood_bin_2',
 'neighborhood_bin_3',
 'neighborhood_bin_4',
 'neighborhood_bin_5',
 'bsmt_GLQ',
 'bsmt_YesBas',
 'central_air_N',
 'extra_rooms_3',
 'extra_rooms_4',
 'extra_rooms_5-6',
 'extra_rooms_7-8',
 'garage_cond_Gd_Ta',
 'condition_Feedr_RRAe_RRNe',
 'condition_Norm_RRAn',
 'condition_PosA_PosN',
 'land_contour_Bnk',
 'land_contour_HLS',
 'land_contour_Lev_Low']]

In [130]:
df_test.shape

(878, 46)

In [132]:
df_test.to_csv('datasets/test_set_cleaned.csv', index=False)

In [128]:
columns_info(df_test)

,nulls,dtype,nunique_values,unique_values,value_counts
gr_liv_area,0,int64,621,"[1928, 1967, 1496, 968, 1394, 1092, 1093, 1268...",864 16 1092 7 848 6 816 5 12...
total_bsmt_sf,0,int64,526,"[1020, 1967, 654, 968, 1394, 546, 869, 1268, 8...",0 25 864 23 768 10 672 9 78...
garage_area,0,int64,357,"[440, 580, 426, 480, 514, 286, 308, 252, 588, ...",0 44 576 28 440 26 240 24 48...
lot_config_col_fr3,0,uint8,2,"[0, 1]","0 824 1 54 Name: lot_config_col_fr3, dt..."
func_poor,0,uint8,2,"[0, 1]","0 876 1 2 Name: func_poor, dtype: int64"
func_mod,0,uint8,2,"[0, 1]","0 821 1 57 Name: func_mod, dtype: int64"
year_built,0,int64,106,"[1910, 1977, 2006, 1923, 1963, 1972, 1958, 200...",2005 40 2006 39 2007 30 2004 27 20...
year_remod_add,0,int64,61,"[1950, 1977, 2006, 1963, 1972, 1989, 2004, 199...",1950 99 2006 63 2005 41 2007 41 20...
ms_subclass_2,0,uint8,2,"[0, 1]","0 714 1 164 Name: ms_subclass_2, dtype: ..."
ms_subclass_4,0,uint8,2,"[0, 1]","0 569 1 309 Name: ms_subclass_4, dtype: ..."
ms_subclass_5,0,uint8,2,"[0, 1]","0 600 1 278 Name: ms_subclass_5, dtype: ..."
garage_cars_2,0,uint8,2,"[0, 1]","1 467 0 411 Name: garage_cars_2, dtype: ..."
garage_cars_3,0,uint8,2,"[0, 1]","0 765 1 113 Name: garage_cars_3, dtype: ..."
fire_has,0,uint8,2,"[0, 1]","1 456 0 422 Name: fire_has, dtype: int64"
full_bath_2,0,uint8,2,"[1, 0]","0 442 1 436 Name: full_bath_2, dtype: int64"
full_bath_3,0,uint8,2,"[0, 1]","0 860 1 18 Name: full_bath_3, dtype: int64"
half_bath_1,0,uint8,2,"[0, 1]","0 542 1 336 Name: half_bath_1, dtype: int64"
kitchen_abvgr_2,0,uint8,2,"[1, 0]","0 836 1 42 Name: kitchen_abvgr_2, dtype..."
bsmt_full_bath_1.0,0,uint8,2,"[0, 1]","0 522 1 356 Name: bsmt_full_bath_1.0, dt..."
bsmt_full_bath_2.0,0,uint8,2,"[0, 1]","0 863 1 15 Name: bsmt_full_bath_2.0, dt..."
kitchen_qual_Ex,0,uint8,2,"[0, 1]","0 825 1 53 Name: kitchen_qual_Ex, dtype..."
kitchen_qual_Fa,0,uint8,2,"[1, 0]","0 855 1 23 Name: kitchen_qual_Fa, dtype..."
kitchen_qual_Gd,0,uint8,2,"[0, 1]","0 524 1 354 Name: kitchen_qual_Gd, dtype..."
paved_drive_P,0,uint8,2,"[0, 1]","0 855 1 23 Name: paved_drive_P, dtype: ..."
paved_drive_N,0,uint8,2,"[0, 1]","0 813 1 65 Name: paved_drive_N, dtype: ..."
electrical_A_F,0,uint8,2,"[0, 1]","0 830 1 48 Name: electrical_A_F, dtype:..."
electrical_P_Mix,0,uint8,2,"[1, 0]","0 877 1 1 Name: electrical_P_Mix, dtyp..."
neighborhood_bin_2,0,uint8,2,"[0, 1]","0 670 1 208 Name: neighborhood_bin_2, dt..."
neighborhood_bin_3,0,uint8,2,"[0, 1]","0 591 1 287 Name: neighborhood_bin_3, dt..."
neighborhood_bin_4,0,uint8,2,"[0, 1]","0 847 1 31 Name: neighborhood_bin_4, dt..."
neighborhood_bin_5,0,uint8,2,"[0, 1]","0 798 1 80 Name: neighborhood_bin_5, dt..."
bsmt_GLQ,0,uint8,2,"[0, 1]","0 635 1 243 Name: bsmt_GLQ, dtype: int64"
bsmt_YesBas,0,uint8,2,"[1, 0]","1 610 0 268 Name: bsmt_YesBas, dtype: int64"
central_air_N,0,uint8,2,"[1, 0]","0 823 1 55 Name: central_air_N, dtype: ..."
extra_rooms_3,0,uint8,2,"[0, 1]","0 554 1 324 Name: extra_rooms_3, dtype: ..."
extra_rooms_4,0,uint8,2,"[0, 1]","0 631 1 247 Name: extra_rooms_4, dtype: ..."
extra_rooms_5-6,0,uint8,2,"[1, 0]","0 728 1 150 Name: extra_rooms_5-6, dtype..."
extra_rooms_7-8,0,uint8,2,"[0, 1]","0 863 1 15 Name: extra_rooms_7-8, dtype..."
garage_cond_Gd_Ta,0,uint8,2,"[0, 1]","1 799 0 79 Name: garage_cond_Gd_Ta, dty..."
condition_Feedr_RRAe_RRNe,0,uint8,2,"[0, 1]",0 813 1 65 Name: condition_Feedr_RRAe_R...
condition_Norm_RRAn,0,uint8,2,"[1, 0]","1 769 0 109 Name: condition_Norm_RRAn, d..."
condition_PosA_PosN,0,uint8,2,"[0, 1]","0 856 1 22 Name: condition_PosA_PosN, d..."
land_contour_Bnk,0,uint8,2,"[0, 1]","0 842 1 36 Name: land_contour_Bnk, dtyp..."
land_contour_HLS,0,uint8,2,"[0, 1]","0 843 1 35 Name: land_contour_HLS, dtyp..."
land_contour_Lev_Low,0,uint8,2,"[0, 1]","0 861 1 17 Name: land_contour_Lev_Low, ..."

'gr_liv_area',
'total_bsmt_sf',
'garage_area',
'lot_config', 
'functional', 
'year_built', 
'year_remod/add', 
'ms_subclass', 
'garage_cars', 
'fireplaces', 
'full_bath', 
'half_bath'
'kitchen_abvgr'
'bsmt_full_bath'
'kitchen_qual', 
'paved_drive',
'electrical', 
'neighborhood', 
'bsmtfin_type_1', 
'central_air', 
'bedroom_abvgr', 
'totrms_abvgrd'
'garage_cond', 
'condition_1', 
'land_contour'

converting to dummies

creating new column, then converting to dummies