In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.DataFrame({'a': [1, 2, 3, 4, 5], 'b': [2, 4, 5, 4, 5]})
df

   a  b
0  1  2
1  2  4
2  3  5
3  4  4
4  5  5

In [3]:
baseline = df.b.mean()
baseline

4.0

In [4]:
df['ss_tot_sq'] = (df.b - df.b.mean())**2
df

   a  b  ss_tot_sq
0  1  2        4.0
1  2  4        0.0
2  3  5        1.0
3  4  4        0.0
4  5  5        1.0

In [6]:
# y_mean
(2+4+5+4+5)/5

4.0

In [5]:
# x_mean
(1+2+3+4+5)/5

3.0

In [10]:
# nunerator
# sum of x residual * y residual
((df.a-df.a.mean()) * (df.b-df.b.mean())).sum()

6.0

In [12]:
# denominator
# sum of squared x residuals
((df.a - df.a.mean())**2).sum()

10.0

In [18]:
# slope 
# sum (x residual * y residual) divided by sum of squared x residuals 
slope = ((df.a-df.a.mean()) * (df.b-df.b.mean())).sum() / ((df.a - df.a.mean())**2).sum()
slope

0.6

In [20]:
# y intercept
df.b.mean() - df.a.mean()*slope

2.2